// Main content width
.main-content {
    margin: 40px 30% 40px 30%;
    width: 50%;

    // Style the "button"
    .description-title {
        font-size: 26px;
        background-color: cyan;
        color: black;
        padding-left: 20px;
        line-height: 55px;
        transition: 0.3s;
        margin-top: 2px;
        margin-bottom: 2px;
        &:hover {
            cursor: pointer;
        }
    }
    .expand-collapse{
        float: right;
        margin-right: 8px;
    }

    // Style the box / additonal text
    .description {
        font-size: 18px;
        color: black;
        max-height: 0;
        overflow: hidden;
        margin-left: 0px;
        padding-left: 20px;
        transition: max-height 0.2s ease-out;
        p {
            margin-top: 4px;
        }
    }
}